<div [@routerTransition]>
    <form autocomplete="off" #createRoleForm="ngForm" (ngSubmit)="save()">
      <div class="modal-body">
        <tabset>
          <tab [heading]="'Xuất kho' | localize" class="pt-3 px-2">
            <div class="container-add">
              <div class="container-row">
                  <div class="row" style="padding-bottom: 25px;">
                    <div class="col">
                        <div class="row">
                          <div class="col required">
                            <label for="name">
                              {{ "Mã đơn" | localize }}
                            </label>
                            <span style="color: red; margin-left: 5px; font-size: 14pt;">*</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" name="exportCode" id="exportCode" required
                              maxlength="32" />
                            <!-- <abp-validation-summary [control]="nameCode" [controlEl]="nameCodeEl"></abp-validation-summary> -->
                          </div>
                          <div class="col">
                            <a href="javascript:;"
                                class="btn bg-blue"
                                (click)="getRandomCode()">
                                <i class="fa fa-plus-square"></i>
                                {{ "Random" | localize }}
                            </a>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                          <div class="col">
                            <label for="name">
                              {{ "Người lập phiếu" | localize }}
                            </label>
                            <span style="color: red; margin-left: 5px; font-size: 14pt;">*</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <select required #selectModel="ngModel" #selectEl class="form-control"
                              [(ngModel)]="userCode" [ngModelOptions]="{standalone: true}"
                              aria-label="Default select example">
                              <option value="0" selected>Người lập phiếu</option>
                        <!-- <option *ngFor="let category of getCategory;let i = index" value="{{category.CategoryId}}">
                          {{category.CategoryName}}</option> -->
                            </select>
                              <!-- <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary> -->
                          </div>
                        </div>
                    </div>
                  </div>    
                  <div class="row" style="padding-bottom: 25px;">
                    <div class="col">
                        <div class="row">
                          <div class="col required">
                            <label for="name">
                              {{ "Số điện thoại khách" | localize }}
                            </label>
                            <span style="color: red; margin-left: 5px; font-size: 14pt;">*</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" required
                              maxlength="32" />
                            <!-- <abp-validation-summary [control]="nameCode" [controlEl]="nameCodeEl"></abp-validation-summary> -->
                          </div>
                          <div class="col">
                            <a href="javascript:;"
                                class="btn bg-blue"
                                (click)="getRandomCode()">
                                <i class="fa fa-plus-square"></i>
                                {{ "Tìm kiếm" | localize }}
                            </a>
                          </div>
                        </div>
                    </div>     
                    <div class="col">
                        <div class="row">
                          <div class="col required">
                            <label for="name">
                              {{ "Tên khách" | localize }}
                            </label>
                            <span style="color: red; margin-left: 5px; font-size: 14pt;">*</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" name="customerName" id="customerName" required
                              maxlength="32" />
                            <!-- <abp-validation-summary [control]="nameCode" [controlEl]="nameCodeEl"></abp-validation-summary> -->
                          </div>
                        </div>
                    </div>
                  </div>                 
                  <div class="row" style="padding-bottom: 25px;">
                    <div class="col">
                        <div class="row">
                          <div class="col required">
                            <label for="name">
                              {{ "Địa chỉ" | localize }}
                            </label>
                            <span style="color: red; margin-left: 5px; font-size: 14pt;">*</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" name="address" id="address" required
                              maxlength="32" />
                            <!-- <abp-validation-summary [control]="nameCode" [controlEl]="nameCodeEl"></abp-validation-summary> -->
                          </div>
                        </div>
                    </div>
                  </div>                
                  <div class="row" style="padding-bottom: 25px;">
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          <label for="name">
                            {{ "Sản phẩm" | localize }}
                          </label>
                          <span style="color: red; margin-left: 5px; font-size: 14pt;">*</span>
                          <a style="margin-left: 20px;" href="javascript:;" class="btn bg-blue" (click)="AddItem()">
                            <i class="fa fa-plus-square"></i>
                            {{ "Tạo" | localize }}
                          </a>
                        </div>
                      </div>
                      <div class="row" style="margin-top: 15px;"
                        *ngFor="let control of formArray.controls; index as i">
                        <ng-container [formGroup]="control">
                          <div class="col" [@routerTransition]>
                            <select class="form-control"
                              [(ngModel)]="storageSelect[i].storageCode"
                              formControlName="storageOfFormArray" aria-label="Default select example">
                              <option value="0" selected>Kho</option>
                              <option *ngFor="let the of getStorage" value="{{the.storageCode}}">{{the.storageName}}
                              </option>
                            </select>
                            <span
                              style="display: block;"
                              *ngIf="isExist"
                              class="error invalid-feedback"
                              >
                                {{errorMessage}}
                            </span>
                          </div>
                          <div class="col">
                            <input class="form-control" placeholder="Sản phẩm" [(ngModel)]="storageSelect[i].productLocation"
                            formControlName="location" />
                          </div>
                          <div class="col">
                            <input type="number" class="form-control" placeholder="Số lượng"
                              [(ngModel)]="storageSelect[i].quantity" formControlName="quantity" />
                          </div>
                          <div class="col">
                            <button type="button" class="btn bg-danger mx-2" (click)="RemoveItem(i)">
                              <i class="fas fa-trash"></i>
                            </button>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="checkFormValid() || saving"
                    (onCancelClick)="Cancel()"></abp-modal-footer>
              </div>
            </div>  
          </tab>        
          <tab [heading]="'Nhập kho' | localize" class="pt-3 px-2">
            <div class="container-add">
              <div class="container-row">
                  <div class="row" style="padding-bottom: 25px;">
                    <div class="col">
                        <div class="row">
                          <div class="col required">
                            <label for="name">
                              {{ "Mã đơn" | localize }}
                            </label>
                            <span style="color: red; margin-left: 5px; font-size: 14pt;">*</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" required
                              maxlength="32" />
                            <!-- <abp-validation-summary [control]="nameCode" [controlEl]="nameCodeEl"></abp-validation-summary> -->
                          </div>
                          <div class="col">
                            <a href="javascript:;"
                                class="btn bg-blue"
                                (click)="getCustomer()">
                                <i class="fa fa-plus-square"></i>
                                {{ "Random" | localize }}
                            </a>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                          <div class="col">
                            <label for="name">
                              {{ "Người lập phiếu" | localize }}
                            </label>
                            <span style="color: red; margin-left: 5px; font-size: 14pt;">*</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <select required #selectModel="ngModel" #selectEl class="form-control"
                              [(ngModel)]="userCode" [ngModelOptions]="{standalone: true}"
                              aria-label="Default select example">
                              <option value="0" selected>Người lập phiếu</option>
                        <!-- <option *ngFor="let category of getCategory;let i = index" value="{{category.CategoryId}}">
                          {{category.CategoryName}}</option> -->
                            </select>
                              <!-- <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary> -->
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="row" style="padding-bottom: 25px;">
                    <div class="col">
                        <div class="row">
                          <div class="col">
                            <label for="name">
                              {{ "Diễn giải" | localize }}
                            </label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <textarea class="form-control" name="description" id="description" cols="20"
                              rows="10"></textarea>  
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="row" style="padding-bottom: 25px;">
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          <label for="name">
                            {{ "Sản phẩm" | localize }}
                          </label>
                          <span style="color: red; margin-left: 5px; font-size: 14pt;">*</span>
                          <a style="margin-left: 20px;" href="javascript:;" class="btn bg-blue" (click)="AddItem()">
                            <i class="fa fa-plus-square"></i>
                            {{ "Tạo" | localize }}
                          </a>
                        </div>
                      </div>
                      <div class="row" style="margin-top: 15px;"
                        *ngFor="let control of formArray.controls; index as i">
                        <ng-container [formGroup]="control">
                          <div class="col" [@routerTransition]>
                            <select class="form-control"
                              [(ngModel)]="storageSelect[i].storageCode"
                              formControlName="storageOfFormArray" aria-label="Default select example">
                              <option value="0" selected>Kho</option>
                              <option *ngFor="let the of getStorage" value="{{the.storageCode}}">{{the.storageName}}
                              </option>
                            </select>
                            <span
                              style="display: block;"
                              *ngIf="isExist"
                              class="error invalid-feedback"
                              >
                                {{errorMessage}}
                            </span>
                          </div>
                          <div class="col">
                            <input class="form-control" placeholder="Sản phẩm" [(ngModel)]="storageSelect[i].productLocation"
                            formControlName="location" />
                          </div>
                          <div class="col">
                            <input type="number" class="form-control" placeholder="Số lượng"
                              [(ngModel)]="storageSelect[i].quantity" formControlName="quantity" />
                          </div>
                          <div class="col">
                            <button type="button" class="btn bg-danger mx-2" (click)="RemoveItem(i)">
                              <i class="fas fa-trash"></i>
                            </button>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="checkFormValid() || saving"
                  (onCancelClick)="Cancel()"></abp-modal-footer>
              </div>
            </div>  
          </tab>
        </tabset>
      </div>
    </form>
  </div>
  